.individual-sweet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 20px 0 20px 0;
}

.sweet-details {
  max-width: 600px;
  padding: 20px;
  background-color: #FFF5E0;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.sweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sweet-title {
  font-size: 24px;
}

.sweet-price {
  font-size: 18px;
  font-weight: bold;
}

.sweet-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sweet-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.loading-message {
  text-align: center;
  font-size: 18px;
}
